@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,600|Roboto:300,400,700');


.desktop-right-menu-items{
    display: flex;
    justify-content: center;
    align-items: center;
    > ul{
        list-style: none;
        padding: 0px;
        margin: 0px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    
        li{
            float: left;
            a, .fa{
                color: #333333 !important;
            }
        }
        .btn{
            background: transparent;
        }
    }
    .dropdown-toggle::after{
        display: none;
    }
}  

.wrapper-header .wrapper-logo {
    display: flex;
    align-items: center;
    padding-left: 30px !important;
    padding-right: 0px !important;
}



.container-fluid.wrapper-header{
    position: fixed;
    z-index: 99;
    background: transparent;
    transition: 0.3s ease;
    li.nav-item{
        font-size: 12px;
    }
}

#homepageCarousel {
    .carousel-item{
        width: 100vw;
        height: 100vh;
        background-size: cover;
    }
    .carousel-caption{
        text-shadow: 0px 0px 0px;
        text-align: left;
        top:40%;
        width: 35%;
        p{
            margin-bottom: 0px;
            color: #d8b03b;
            letter-spacing: 3px;
        }
        h2{
            font-family: 'EB Garamond', serif;
            font-size: 50px;
            font-style: italic;
            letter-spacing: 4px;
            color: #333333;
        }
        a.btn{
            border: 2px solid #333333;
            background-color: transparent;
            border-radius: 0px;
            color: #333333;
            padding: 12px;
            font-size: 13px;
            font-weight: bold;
            letter-spacing: 3px;
            margin-top: 20px;
            transition: 0.2s all;
        }
        a.btn:hover{
                background-color: #333333 !important;
                color: #eeeeee !important;
            
        }
    }
}

#header-cart .fa-layers-counter {
    background-color: #d8b03b;
    right: -11px;
    top: -9px;
    -webkit-transform: scale(.75);
    transform: scale(0.75);
    font-weight: lighter;
}

.navbar-expand-md .navbar-nav .nav-link{
    transition: 0.2s all;
}
.navbar-expand-md .navbar-nav .nav-link:hover{
    color: #d8b03b; 
}

.n-responsive-content{
    padding: 100px 0px;
}

.home-usps{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    a{
        text-decoration: none;
    }
    .home-usps-each{
        padding: 0px 15px;
        .svg-inline--fa{
            color: #d8b03b;
            font-size: 31px;
        }
        h4{
            font-family: 'EB Garamond', serif;
            font-size: 22px;
        }
    }
}

footer{
    background-color: #333333;
    .container{
        padding-top: 50px;
        padding-bottom: 50px;
        ul.list-unstyled li {
            color: $gray-500;
            font-size: 12px;
            margin-bottom: 10px;
            font-weight: lighter;
        }
        .form-control{
            background-color: #444444;
            color: white;
            border: none;
            font-size: 12px;
            font-style: italic;
        }
        button{
            border: none;
            background-color: #444444;
            color: #9e9e9e;
        }
        button:hover{
            color: #d8b03b;
            background-color: #444444;
            border-color: #444444;
        }
        h4{
            color: $white;
            font-family: 'EB Garamond', serif;
            margin-bottom: 20px;
        }
        p{
            color: $gray-500;
            line-height: 22px;
            font-size: 12px;
            font-weight: lighter;
            margin-bottom: 10px;
        }
    }
    .social-footer{
        background-color: $white;
        padding: 30px 15px 20px 15px;
        address{
            font-weight: lighter;
            color: darkgrey;
            font-size: 12px;
            margin-top: 15px;
        }
        .list-social{
            justify-content: center;
            .nav-item.px-1{
                transition: 0.3s all;
                border: 1px solid lightgrey;
                border-radius: 100%;
                margin: 0px 5px;
                width: 42px;
                height: 42px;
                display: flex;
                justify-content: center;
                align-items: center;
                .svg-inline--fa{
                    color: #9e9e9e;
                    padding: 6px;       
                    transition: 0.3s all;        
                }
                .fa-facebook-f{
                    padding: 4px;   
                }
            }
            
        }
    }
}
.nav-item.px-1:hover{
    background-color: #d8b03b !important;
    border-color: #d8b03b !important;
}

.nav-item.px-1:hover .svg-inline--fa{ 
    color: white !important; 
}  

.autoplay-testimonials.slick-dotted.slick-slider{
    margin: 100px 0px;
    .slick-arrow {
        padding: 9.5px 19.5px 11.5px;
        position: absolute;
        top: 40%;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: $gray-500;
        z-index: 5;
        :hover{
            color: #d8b03b;
        }
    }
    .slick-arrow.next{
        right: 0;
    }
    .slick-dots{
        display: none !important;
    }
    .slick-slide{
        padding: 0px 150px;
        .testimonial-quote{
            .svg-inline--fa{
                color: #d8b03b
            }
            border-radius: 50%;
            border: 1px solid;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            border-color: #d8b03b;
            align-items: center;
            align-content: center;
        }
        p.customer-testimonial,
        p.customer-testimonial + p{
        display: block;
        text-align: center;
        letter-spacing: 1px;
        color: #9c9c9c;
        line-height: 40px;
        font-family: 'EB Garamond', serif;
        font-size: 15px;
   
        }
        p.customer-name{
            color: #343a40;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: bold;
            letter-spacing: 1px;
            display: inline-block;
            span{
                font-weight: 300;
                font-size: 10px;
                color: darkgray;
            }
        }
        small{
            display: inline-block;
            font-weight: 300;
            font-size: 10px;
            color: darkgray;
            font-style: italic;

        }
    }
}

.thumbnail{
    .card-title.h4{
        margin-bottom: 5px;
        a{
        font-size: 14px;
        margin-bottom: 0px;
        }
    }
    .price{
        font-family: 'EB Garamond', serif;
        color: #d8b03b;
    }
}

.featured-product-wrapper{
    margin-top: 100px;
    h2{
        text-align: center;
        font-size: 2.5rem;
        font-family: EB Garamond;
        color: #333333;
        margin-bottom: 50px;
    }
    .featured-product{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        .productInformation-wrapper{    
            width: 400px;
            background-color: #f7f7f7;
            padding: 40px;
            z-index: 99;
            position: absolute;
            left: 10%;
            p.h4{
                letter-spacing: 1px;
                text-transform: uppercase;
                font-size: 14px;
            }
            p.price{
                color: #d8b03b;
                font-family: 'EB Garamond', serif;
    
            }
            p.short-description{
                font-size: 12px;
                color: #adb5bd;
            }
            button.addtocart{
               
                border: 2px solid #333333;
                background-color: #333333;
                border-radius: 0px;
                color: #ffffff;
                padding: 8px 12px;
                letter-spacing: 2px;
                font-size: 12px;
                font-weight: bold;
                text-transform: uppercase;
                -webkit-transition: 0.2s all;
                transition: 0.2s all;
            
            }
            button.addtocart:hover{
                background-color: transparent;
                color: #333333;
            }
            .product-wishlist{
                border: 1px solid #333333;
                margin-left: 10px;
                .wishlist_toggle{
                    padding: 5px 10px;
                    font-size: 18px;
                    color: #333333;
                    border: 0px;
                }
            }
        }
        .productImage{
            width: 500px;
            height: 300px;
            background-size: cover;
            position: absolute;
            right: 15%;
        }
    }
    
}

.row.category-left-wrapper{
    margin-right: -7px;
    height: 700px;
    background-size: cover;
    background-position: center;
    .col-12.left-categories{
        background-size: cover;
        background-position: center;
        height: 60%;
        padding: 0px;
        h2 {
            font-family: 'EB Garamond', serif;
            padding: 40px 0px 0px 40px;
            }
        a.view-products{
            padding: 40px 0px 0px 40px;
            font-size: 14px;
            font-family: EB Garamond;
            .fa-arrow-circle-right{
                font-size: 12px;
                 margin-left: 2px;
             }
        }
    }
    .col-12.left-categories:first-child{
        height: 40%;
        margin-bottom: 7px;
    }
}

.row.category-right-wrapper{
    height: 700px;
    background-size: cover;
    background-position: center;
    .col-12.right-categories{
        margin-bottom: 7px;
        background-size: cover;
        background-position: center;
        padding: 0px;
        height: 60%;
        h2 {
            font-family: 'EB Garamond', serif;
            padding: 40px 0px 0px 40px;
            }
        a.view-products{
            padding: 40px 0px 0px 40px;
            font-size: 14px;
            font-family: EB Garamond;
            .fa-arrow-circle-right{
               font-size: 12px;
                margin-left: 2px;
            }
        }
    }
    .col-12.right-categories:last-child{
        height: 40%
    }
}


